$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

$holiday-background-color: #f07c05;
$text-color: #faf7f7;

body {
  background: $holiday-background-color;
  color: $text-color;
}
